# IntelliJ project files
.idea/

# Build output
# root-level build dirs
+/out/
+/project_biu/out/

# VS Code folder
+.vscode/

# Ignore IDEA/Gradle/Maven module files
*.iml
*.class

# OS-specific
.DS_Store
Thumbs.db

