# IntelliJ project files
.idea/

# Build output directories
out/
project_biu/out/

# VS Code settings
.vscode/

# Ignore IDEA/Gradle/Maven module files
*.iml
*.class

# OS-specific
.DS_Store
Thumbs.db
